.row {
	margin: 0;
	padding: 0;
	height: 100vh;
	background-color: none;
}

.col {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 50px 20px;
}

.imageSection {
	margin: 0;
	padding: 0;
}
