.container {
	padding: 0px 100px;
}

.backbtn {
	margin-top: 20px;
	cursor: pointer;
	color: var(--favoland-sec);
}
.backbtn:hover {
	color: var(--favoland-main);
}

@media screen and (max-width: 650px) {
	.container {
		padding: 0px 60px;
	}
}
@media screen and (max-width: 500px) {
	.container {
		padding: 0px 40px;
	}
}
