.credentialsItem {
	width: 100px;
	margin-right: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px 30px 0px 0px;
	text-align: center;
}

.credentials {
	flex-direction: column;
	padding: 20px 0px;
}
