.row {
	padding: 0;
	height: 100vh;
	background-color: none;
}

.col {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 50px 50px;
}
.loginBtns {
	margin: 10px 0px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 200px;
}
.imageSection {
	margin: 0;
	padding: 0;
}
.welcomeText {
	font-family: var(--favoland-font1);
	color: var(--favoland-main);
	font-size: 32px;
	text-transform: uppercase;
	word-spacing: 5px;
}

.logo {
	margin-left: auto;
}
