@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Jost', sans-serif;
}
/* CSS By Pranav */
.page-head h1 {
	color: var(--primary, #4ab8a8);
	font-size: 30px;
	font-family: Jost;
	font-style: normal;
	font-weight: 700;
	line-height: 110%;
}
.mb-40 {
	margin-bottom: 40px;
}
.section-title {
	color: var(--212121, #212121);
	font-size: 24px;
	font-family: Jost;
	font-style: normal;
	font-weight: 700;
	line-height: 130%;
}
.section-subtitle {
	color: var(--212121, #212121);
	font-size: 18px;
	font-family: Jost;
	font-style: bold;
	font-weight: 600;
	line-height: 130%;
}
.title-border {
	width: 100px;
	height: 4px;
	flex-shrink: 0;
	background: var(--primary, #4ab8a8);
}
.border-box-1 {
	width: 465px;
	height: 270px;
	flex-shrink: 0;
	border: 5px solid var(--dark, #212121);
	background: #fff;
}

.home-border-box-1 {
	width: 640px;
	height: 420px;
	flex-shrink: 0;
	border: 5px solid var(--dark, #212121);
	background: #fff;
}
.aboutImg {
	position: relative;
	top: -240px;
	left: 30px;
	z-index: 999;
}

.homeImg {
	position: relative;
	top: -390px;
	left: 30px;
	z-index: 999;
}
.border-box-2 {
	position: relative;
	top: -470px;
	left: 60px;
	width: 465px;
	height: 270px;
	flex-shrink: 0;
	border: 5px solid var(--dark, #212121);
	background: #fff;
}

.home-border-box-2 {
	position: relative;
	top: -775px;
	left: 60px;
	width: 640px;
	height: 420px;
	flex-shrink: 0;
	border: 5px solid var(--dark, #212121);
	background: #fff;
}

p {
	display: flex;

	flex-direction: column;
	flex-shrink: 0;
	color: var(--212121, #212121);
	font-size: 18px;
	font-family: Jost;
	font-style: normal;
	font-weight: 400;
	line-height: 130%;
}

.navbar-link {
	color: var(--212121, #212121);
	text-align: right;
	/* Secondary */
	font-size: 16px;
	font-family: Jost;
	font-style: normal;
	font-weight: 400;
	line-height: 130%;
	text-decoration: none;
	/* margin-right:24px; */
}
.scan-product-btn {
	padding: 8px 12px;
	justify-content: center;
	align-items: center;
	gap: 5px;
	background: #fff !important;
	color: #000 !important;
	border: 1px solid #000 !important;
	border-radius: 0 !important;
}

.scan-product-btn:hover {
	background: #000 !important;
	color: #fff !important;
	border: 1px solid #fff !important;
	border-radius: 0 !important;
}

.signUp-btn {
	padding: 8px 12px;
	justify-content: center;
	align-items: center;
	gap: 5px;
	background: #000 !important;
	color: #fff !important;
	border: 1px solid #fff !important;
	border-radius: 0 !important;
}

.signUp-btn:hover {
	background: #fff !important;
	color: #000 !important;
	border: 1px solid #000 !important;
	border-radius: 0 !important;
}

/*------------------------------ margin -----------------------------*/
.mt-50 {
	margin-top: 50px !important;
}
.mt-100 {
	margin-top: 100px !important;
}
.mt-150 {
	margin-top: 150px !important;
}
.mt-175 {
	margin-top: 175px !important;
}
.mt-200 {
	margin-top: 200px !important;
}
.mt-250 {
	margin-top: 250px !important;
}
.mt-300 {
	margin-top: 300px !important;
}
.mt-350 {
	margin-top: 350px !important;
}
.mt-400 {
	margin-top: 400px !important;
}
.mt-450 {
	margin-top: 450px !important;
}
.mt-500 {
	margin-top: 500px !important;
}
/* negative */
.mtn-n50 {
	margin-top: -50px !important;
}
.mtn-100 {
	margin-top: -100px !important;
}
.mtn-150 {
	margin-top: -150px !important;
}
.mtn-200 {
	margin-top: -200px !important;
}
.mtn-250 {
	margin-top: -250px !important;
}
.mtn-300 {
	margin-top: -300px !important;
}
.mtn-350 {
	margin-top: -350px !important;
}
.mtn-400 {
	margin-top: -400px !important;
}
.mtn-450 {
	margin-top: -450px !important;
}
.mtn-500 {
	margin-top: -500px !important;
}
.mtn-550 {
	margin-top: -550px !important;
}
.mtn-600 {
	margin-top: -600px !important;
}
.mtn-650 {
	margin-top: -650px !important;
}

.mb-40 {
	margin-bottom: 40px !important;
}

.my-40{
	margin-top: 40px;
	margin-bottom: 40px;
}
.py-40 {
	padding: 40px 0px;
}

.home-main p {
	margin-bottom: 0.5rem;
}

.home-page-main-title {
	font-size: 36px;
	font-family: Jost;
	font-style: normal;
	font-weight: 700;
	line-height: 110%;
}
.home-page-para {
	color: var(--212121, #212121);
	font-size: 18px;
	font-family: Jost;
	font-style: normal;
	font-weight: 400;
	line-height: 130%;
}

.productName {
	color: var(--212121, #212121);
	font-size: 16px;
	font-family: Jost;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	padding-top: 5px;
}
.product-desc {
	color: var(--7-d-7-d-7-d, #7d7d7d);
	font-size: 16px;
	font-family: Jost;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
/* .home-product-img{
	width: 290px;
	height: 290px;
	object-fit: cover;
} */
.ratingNumber {
	color: var(--212121, #212121) !important;
	font-size: 16px !important;
	font-family: Jost !important;
	font-style: normal !important;
	font-weight: 400 !important;
	line-height: normal !important;
}

a {
	color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
	text-decoration: none !important;
}
/* ---------------------------------------------------------------- */

:root {
	/* colors */
	--favoland-main: #53b9a8;
	--favoland-sec: #282723;

	/* fonts */
	--favoland-font: 'Jost', sans-serif;
	--favoland-font1: 'Rock Salt', cursive;
}
